 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About<a href="about"></a></h2>
                    <br>
                </div>
            </div>

            <div class="row" style="padding-bottom: 2em;">
                <div class="col-lg-10 col-lg-offset-1" style="text-align: center">
                    <p>Hi, this is Bright.</p>
                    <p>This website is meant to showcase some of the projects I have done. (Work in progress)</p>
                    <p>Feel free to take a stroll and connect with me!</p>
                    <br>
                </div>
            </div>

            <div class="row" style="text-align: center">
                <p style="padding-bottom: 2em;">What you can expect to see:</p>
                <div class="col-lg-4" style="text-align: center">
                    <h4>Analytics Using:</h4>
                    <p>R</p>
                    <p>Python</p>
                    <p>WEKA</p>
                    <p>Hadoop (Hive, Pig, HDFS, Spark)</p>
                    <p>Machine Learning</p>
                    <p>Statistcal Tests/Methods</p>
                    <p>Math & Physics</p>
                    <br>
                </div>
                <div class="col-lg-4" style="text-align: center">
                    <img src="img/pie.png" alt="">
                </div>
                <div class="col-lg-4" style="text-align: center">
                    <h4>Programming using:</h4>
                    <p>Python</p>
                    <p>Java</p>
                    <p>SQL + NoSQL</p>
                    <p>Matlab</p>
                    <p>HTML/CSS/Javascript (D3.js)</p>
                    <br>
                </div>
            </div>


        </div>
    </section>